<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.project.system.mapper.ProNewsMapper">
    
    <resultMap type="ProNews" id="ProNewsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="pic"    column="pic"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectProNewsVo">
        select p.id, p.title, p.pic, p.content, p.create_time, p.create_by, su.nick_name as user_name from pro_news p
        left join sys_user su on su.user_id = p.create_by
    </sql>

    <select id="selectProNewsList" parameterType="ProNews" resultMap="ProNewsResult">
        <include refid="selectProNewsVo"/>
        <where>  
            <if test="title != null  and title != ''"> and p.title like concat('%', #{title}, '%')</if>
            <if test="pic != null  and pic != ''"> and p.pic = #{pic}</if>
            <if test="content != null  and content != ''"> and p.content like concat('%', #{content}, '%')</if>
        </where>
    </select>
    
    <select id="selectProNewsById" parameterType="Long" resultMap="ProNewsResult">
        <include refid="selectProNewsVo"/>
        where p.id = #{id}
    </select>
        
    <insert id="insertProNews" parameterType="ProNews" useGeneratedKeys="true" keyProperty="id">
        insert into pro_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="pic != null and pic != ''">pic,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="pic != null and pic != ''">#{pic},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateProNews" parameterType="ProNews">
        update pro_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="pic != null and pic != ''">pic = #{pic},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProNewsById" parameterType="Long">
        delete from pro_news where id = #{id}
    </delete>

    <delete id="deleteProNewsByIds" parameterType="String">
        delete from pro_news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>